---

---

<section class="box-border relative flex flex-col bg-slate-900 text-black h-screen w-full text-center overflow-x-hidden">
    <!-- flex flex-col justify-between items-center -->
    <header class="relative z-30 w-full">
        <h2 class="pt-40 text-5xl font-medium">Model Y</h2>
        <p class="text-md font-medium underline">Concertar una prueba de conducción</p>
    </header>
    <footer class="relative z-30 flex flex-col flex-1 justify-end pb-24">
        <div class="flex flex-row gap-x-2">
            <a href="#">
                <button class="rounded-full bg-white/5 backdrop-blur-lg shadow-md hover:shadow-xl 
                hover:shadow-slate-600/60 px-6 py-3 hover:ring-1 hover:ring-slate-700 hover:bg-slate-300 
                hover:text-black ring-1 ring-slate-50 transition-colors duration-75 delay-0 ease-in-out">
                    Encargar
                </button>
            </a>
            <a href="#">
                <button class="rounded-full bg-white/5 backdrop-blur-lg shadow-md hover:shadow-xl 
                hover:shadow-slate-600/60 px-6 py-3 hover:ring-1 hover:ring-slate-700 hover:bg-slate-300 
                hover:text-black ring-1 ring-slate-50 transition-colors duration-75 delay-0 ease-in-out">
                    Prueba de conducción
                </button>
            </a>
        </div>
    </footer>

    <img src="/model-y.avif" alt="Model Y" class="absolute top-0 left-0 size-full object-cover object-center overflow-x-hidden z-10">
</section>